.profile-img {
  & > div {
    // height: 164px;
    max-width: 80%;
    margin: 20px auto;
    min-height: 360px;
    overflow: hidden;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.custom-file-input {
  padding: 6px;
  background-color: #3e63d1;
  display: table;
  color: #fff;
  width: 88px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0;
  opacity: 1 !important;
  font-size: 13px;

  input {
    display: none !important;
  }
}
